html {
    font-size: 18px;
}

body {
    margin: 0;
    font-family: 'Kalam', cursive;
    font-size: 1rem;
    line-height: 1.2rem;
    background-color: #eff1f3;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

/*Header========================================================*/
.header {
    background-color: #5e7054;
    height: 50px;
}

.header-nav {
    padding-right: 15px;
    display: flex;
    justify-content: right;
    gap: 40px;
    font-size: 1.5rem;
    list-style-type: none;
}

.header-nav__item {
    margin-top: 15px;
    text-decoration: none;
}

.header-nav__link {
    color: #eee;
    text-decoration: none;
}

/*Main==========================================================*/
.main {
    padding-top: 35px;
    height: 100%;
    background-color: #a8b890;
    border-radius: 10px;
}

.empty-block {
    background-color: #e2d2d7;
    height: 165px;
    margin: 0 51px;
    border-radius: 10px;
}

.name-block {
    height: 120px;
    position: relative;
}

.photo {
    position: absolute;
    top: -65%;
    left: 10%;
    border-radius: 50%;
    border: 10px solid #5e7054;
}

.name {
    margin: 2px;
    padding-top: 50px;
    padding-right: 61px;
    color: #eee;
    text-transform: uppercase;
    text-align: right;
    font-size: 4rem;
}

.info-block {
    background-color: #e2d2d7;
    margin: 0 51px;
    padding-top: 80px;
    border-radius: 10px;
}